.logo:hover::after {@media (min-width: 1200px) {background-color: @logo-hover;}}

.logo:focus::after {@media (min-width: 1200px) {background-color: @logo-hover;}}

.logo:active::after {background-color: @logo-active;}

.navigation-menu__link::after {
	display: none;
	position: absolute;
	left: 0px;
	bottom: 5px;
	width: 0;
	height: 5px;
	z-index: -1;
	content: "";
	background-color: @underline-bacisc;
	transition: all 0.2s linear;

	@media (min-width: 1200px) {display: block;}
}

.navigation-menu__link:hover::after, .navigation-menu__link:focus::after {width: 100%;}

.navigation-menu__link:active::after {
	width: 100%;
	background-color: @underline-active;
}

.mobile-menu__info .navigation-menu__link:active {
	color: @link-color-active;
	border-bottom: 2px solid @link-color-active;
}

.mobile-menu__info .navigation-menu__link:focus {
	color: @link-color-active;
	border-bottom: 2px solid @link-color-active;
}

.mobile-menu__info .section-link:active {
	color: @link-color-active;
    border-bottom: 2px solid @link-color-active;
}

.mobile-menu__info .section-link:focus {
	color: @link-color-active;
    border-bottom: 2px solid @link-color-active;
}

.header__socials-link svg:hover {
	color: @link-color-bright;
	transition: all 0.2s linear;
}

.header__socials-link svg:active {
	color: @link-color-active;
	transition: all 0.2s linear;
}

// buttons

.button:hover, .button:focus {
	border: 4px solid @button-color-light;
	background-color: @button-color-light;
	box-shadow: 0 2px 5px rgba(43, 43, 43, 0.3);
}

.button:active {
	border: 4px solid @button-color-active;
	background-color: @button-color-active;
	box-shadow: 0 2px 5px rgba(43, 43, 43, 0.3);
}

.button.button-white:hover, .button.button-white:focus {
	background-color: #fff;
	border: 4px solid @button-color-border-fade;
	color: @button-color-border-fade;
	box-shadow: 0 2px 5px rgba(43, 43, 43, 0.3);
}

.button.button-white:active {
	color: @button-color-active;
	border: 4px solid @button-color-active;
	box-shadow: 0 2px 5px rgba(43, 43, 43, 0.3);
}

// socials-links

.socials-link:hover {img {box-shadow: 0 5px 5px rgba(43, 43, 43, 0.3);}}

.socials-link:focus {img {box-shadow: 0 5px 5px rgba(43, 43, 43, 0.3);}}

.socials-link:active {img {box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);}}

.section-link:hover, .footer__link:hover {
	@media (min-width: 1200px) {
		color: @link-color-bright;
		border-bottom: 2px solid @link-color-bright;
	}
}

.section-link:focus, .footer__link:focus {
	color: @link-color-active;
	border-bottom: 2px solid @link-color-active;
}

.section-link:active, .footer__link:active {
	color: @link-color-active;
	border-bottom: 2px solid @link-color-active;
}

// portfolio

.portfolio__filter-item::after {
	position: absolute;
	left: 0px;
	bottom: 8px;
	width: 0;
	height: 7px;
	z-index: -1;
	content: "";
	background-color: #fbdc4d;
	transition: all 0.2s linear;
}

.portfolio__filter-item:hover::after {@media (min-width: 1200px) {width: 100%;}}

.portfolio__filter-item:focus::after {width: 100%;}

.portfolio__filter-item:active::after {
	width: 100%;
	background-color: #fca000;
}

.portfolio__filter-item {
	&:hover {@media (min-width: 1200px) {color: @text-color-black;}}
	&:focus, &:active {color: @text-color-black;}
}

.portfolio__card:hover {
	@media (min-width: 1200px) {
		text-shadow: 0 3px 7px rgba(43, 43, 43, 0.3);

		img {
			position: relative;
			box-shadow: 0 5px 10px rgba(43, 43, 43, 0.3);
		}
	}
}

.portfolio__card:focus {
	text-shadow: 0 3px 7px rgba(43, 43, 43, 0.3);

	img {
		position: relative;
		box-shadow: 0 5px 10px rgba(43, 43, 43, 0.3);
	}
}

.portfolio__card:active {
	color: @link-color-active;
	text-shadow: 0 3px 7px rgba(43, 43, 43, 0.5);

	img {box-shadow: 0 5px 15px rgba(43, 43, 43, 0.6);}
}

// timeline

@media (min-width: 1200px) {
	.timeline__step:hover, .timeline__step:focus {
		text-shadow: 0 3px 7px rgba(43, 43, 43, 0.3);
		padding-left: 90px;
		
		&:nth-child(odd) {padding-right: 90px;}

		.step-image {
			padding: 18px;
			box-shadow: 2px 3px 35px rgba(0, 112, 187, 0.7);
		}
	}
}

// contacts

.contacts__links-list-item:hover {
	.item-type, .item-link, .item-text {color: @link-color-bright;}
}

.contacts__links-list-item:focus, .contacts__links-list-item:active {
	.item-type, .item-link, .item-text {color: @link-color-active;}
}
