* {box-sizing: border-box;}

html {scroll-behavior: smooth;}

html, body, h1, h2, h3, h4, p, ul {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: 'MPLUS 1p', sans-serif;
	width: 100%;
	height: 100%;
}

body.active {overflow: hidden;}

img, svg {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

ul {list-style: none;}

textarea {resize: none;}

.container {
	max-width: 740px;
	padding: 0 15px 0;
	margin: 0 auto;
	z-index: 2;

	@media (min-width: 1200px) {
		max-width: 1140px;
		padding: 0;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@media (min-width: 768px) {justify-content: space-between;}
}

.overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: @overlay;
	z-index: 4;
}

.overlay.active {display: block;}

// TITLES

.accent {
	position: relative;

	&::before {
		position: absolute;
		right: 5px;
		bottom: 3px;
		content: "\00B4";
	}
}

.section-title {
	display: inline-block;
	font-size: 42px;
	font-weight: 900;

	@media (min-width: 768px) {font-size: 52px;}
	@media (min-width: 1200px) {font-size: 64px;}
}

.title-medium {
	margin: 0 0 23px;
	font-size: 30px;
	font-weight: 900;
	text-align: left;
	color: @text-color-black;

	@media (min-width: 768px) {
		margin: 0 0 30px;
		font-size: 32px;
	}

	@media (min-width: 1200px) {font-size: 40px;}
}
