* {box-sizing: border-box;}

html {scroll-behavior: smooth;}

html, body, h1, h2, h3, h4, p, ul {
	margin: 0;
	padding: 0;
}

html, body {
	font-family: 'MPLUS 1p', sans-serif;
	width: 100%;
	height: 100%;
}

body.active {overflow: hidden;}

.container {
	max-width: 740px;
	padding: 0 15px 0;
	margin: 0 auto;
	z-index: 2;

	@media (min-width: 1200px) {
		max-width: 1140px;
		padding: 0;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@media (min-width: 768px) {justify-content: space-between;}
}

.overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 4;
}

.overlay.active {display: block;}

img, svg {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

ul {list-style: none;}

textarea {resize: none;}

// LINKS

a {
	display: inline-block;
	outline: none;
	text-decoration: none;
	color: #000;
}

.logo {
	position: relative;
	z-index: 1;
	font-size: 42px;
	font-weight: 900;
	
	&::after {
		position: absolute;
		right: -5px;
		left: -5px;
		bottom: 10px;
		height: 9px;
		z-index: -1;
		content: "";
		background-color: #fbdc4d;
		transition: all 0.2s linear;
	}
}

.navigation-menu {
	display: none;

	@media (min-width: 1200px) {
		display: flex;
		justify-content: center;
	}
}

.navigation-menu__link {
	position: relative;
	margin: 0 0 30px;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.1;
	width: fit-content;
	border-bottom: 2px solid #000;

	&:last-child {margin: 0 0 45px;}

	@media (min-width: 1200px) {
		margin: 0 80px 0 0;
		line-height: 1.5;
		width: auto;
		border-bottom: none;

		&:last-child {margin: 0;}
	}
}

.socials-list {
	display: flex;
	justify-content: space-between;
	max-width: 320px;
	@media (min-width: 768px) {max-width: 100%;}
}

.socials-link {
	width: 48px;

	img {
		border-radius: 50%;
		transition: all 0.2s linear;
	}
}

.section-link {
	margin: 18px 0 0;
	border-bottom: 2px solid #000;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.1;
	transition: all 0.2s linear;

	@media (min-width: 768px) {
		margin: 22px 0 0;
		font-size: 20px;
	}

	@media (min-width: 1200px) {
		margin: 30px 0 0;
		font-size: 24px;
	}
}

// BUTTONS

.toggle-menu {
	position: relative;
	width: 45px;
	height: 25px;
	display: flex;
	align-items: center;
	cursor: pointer;
	z-index: 10;

	@media (min-width: 1200px) {display: none;}

	.toggle-menu__bar {
		width: 100%;
		height: 5px;
		background-color: #000;
		transition: all 0.3s ease;
	}

	&::before, &::after {
		position: absolute;
		left: 0;
		width: 100%;
		height: 5px;
		content: "";
		background-color: #000;
		transition: transform 0.5s ease;
	}

	&::before {top: 0;}
	&::after {bottom: 0;}
}

.toggle-menu.active {
	.toggle-menu__bar {
		width: 0;
		background-color: transparent;
}

	&::before, &::after {
		top: 50%;
		transform: translateY(-50%);
	}
	
	&::before {transform: rotate(-45deg);}
	&::after {transform: rotate(45deg);}
}

button, input, textarea {
	outline: none;
	border: none;
	background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	font-family: 'MPLUS 1p', sans-serif;
}

.button {
	display: inline-block;
	padding: 11px 35px;
	border-radius: 31px;
	border: 4px solid #fbdc4d;
	background-color: #fbdc4d;
	font-size: 22px;
	font-weight: 700;
	transition: all 0.2s linear;
}

.button.button-white {
	border: 4px solid #464646;
	background-color: #fff;
	transition: all 0.2s linear;
}

// UNDERLINE

.underline {
	display: inline-block;	
	width: fit-content;
	position: relative;
	z-index: 2;

	&:last-child {
		padding-left: 5px;
		&::after {left: 0;}
	}

	&::after {
		position: absolute;
		right: -5px;
		left: -5px;
		bottom: 5px;
		height: 12px;
		z-index: -1;
		content: "";
		background-color: #fbdc4d;
	}

	@media (min-width: 768px) {display: block;}
}

.section-underline {
	position: relative;
	z-index: 2;

	&::after {
		position: absolute;
		right: -5px;
		left: -5px;
		bottom: 10px;
		height: 12px;
		z-index: -1;
		content: "";
		background-color: #fbdc4d;

		@media (min-width: 768px) {bottom: 13px;}
		@media (min-width: 1200px) {bottom: 19px;}
	}
}

.underline-small {
	position: relative;
	z-index: 2;

	&::after {
		display: none;
		position: absolute;
		right: -5px;
		left: -5px;
		bottom: 6px;
		height: 7px;
		z-index: -1;
		content: "";
		background-color: #fbdc4d;

		@media (min-width: 1200px) {display: block;}
	}
}

// TITLES

.accent {
	position: relative;

	&::before {
		position: absolute;
		right: 5px;
		bottom: 3px;
		content: "\00B4";
	}
}

.section-title {
	display: inline-block;
	font-size: 42px;
	font-weight: 900;

	@media (min-width: 768px) {font-size: 52px;}
	@media (min-width: 1200px) {font-size: 64px;}
}

.title-medium {
	margin: 0 0 23px;
	font-size: 30px;
	font-weight: 900;
	text-align: left;
	color: #000;

	@media (min-width: 768px) {
		margin: 0 0 30px;
		font-size: 32px;
	}

	@media (min-width: 1200px) {font-size: 40px;}
}
