footer {
	margin: 0 auto;
	padding: 25px 0 40px;
	background-color: #333;
}

.footer__title {
	margin: 0 0 15px;
	font-size: 18px;
	color: #fff;

	h4 {font-weight: 500;}
}

.footer__info {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	color: #b0b0b0;
}

.footer__link {
	color: #b0b0b0;
	border-bottom: 2px solid #b0b0b0;
}