.portfolio {
	padding: 45px 0 120px;
	background-color: #f4f8f9;
	color: #000;

	@media (min-width: 768px) {padding: 62px 0 120px;}
	@media (min-width: 1200px) {padding: 100px 0 125px;}
}

.portfolio__title {
	margin: 0 0 38px;
	text-align: center;
	@media (min-width: 1200px) {margin: 0 0 45px;}
}

.portfolio__filter {
	display: none;

	@media (min-width: 768px) {
		display: flex;
		justify-content: flex-start;
		margin: 0 0 45px;
	}
}

.portfolio__filter-item {
	position: relative;
	z-index: 1;
	margin: 0 50px 0 0;
	font-size: 24px;
	font-weight: 900;
	color: #8fa5ae;
	transition: all 0.2s linear;

	&:last-child {margin: 0;}

	@media (min-width: 1200px) {
		margin: 0 80px 0 0;
		font-size: 28px;
	}
}

// cards

.portfolio__card {
	margin: 0 0 43px;
	max-width: 360px;

	@media (min-width: 768px) {
		max-width: 48%;
		margin: 0 0 55px;
	}

	@media (min-width: 1200px) {
		max-width: 33%;
		margin: 55px 0 0;
		transition: text-shadow 0.2s linear;

		&:nth-child(1) {margin: 0;}
		&:nth-child(2) {margin: 0;}
	}
}

@media (min-width: 1200px) {
	.big-card {
		width: 556px;
		max-width: 50%;

		.portfolio__card-title {
			margin: 0 0 5px;
			font-size: 32px;
			font-weight: 700;
		}

		.portfolio__card-description {
			font-size: 22px;
			font-weight: 300;
		}
	}
}

.portfolio__card-image {
	margin: 0 0 20px;

	img {
		background-color: #fdd446;
		transition: box-shadow 0.2s linear;
	}
}

.portfolio__card-title {
	font-size: 22px;
	font-weight: 700;

	@media (min-width: 768px) {font-size: 24px;}

	@media (min-width: 1200px) {font-size: 26px;}
}

.portfolio__card-description {
	font-size: 16px;
	font-weight: 300;

	@media (min-width: 768px) {font-size: 18px;}

	@media (min-width: 1200px) {font-size: 20px;}
}
